.containerUsers {
    background: #FFFFFF;
    border-radius: 8px;
    height: 60%;
    width: 15%;
    margin: 2rem;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.3);
  }

  .containerUsers main {
      padding: 2rem;
  }